<div class="footer_container">
    <div class="recent_history">

        <div class="leftrecent">
            <div class="image_box_left">
                <img class="image_box_left_img" src="https://static.golfonline.co.uk/media/img/mavrik_pro_irons_th.200x200.jpg.webp" alt="" srcset="">
                <p>Callaway Mavrik Pro Irons</p>
                <p>Callaway Mavrik Pro Irons Steel Shaft</p>
            </div>
        </div>
        <div class="rightrecent">
            <div class="image_box_right">
                <img class="image_box_right_img" src="https://static.golfonline.co.uk/media/img/243-160_590_ex1.200x200.jpg.webp" alt="" srcset="">
                <p>Callaway Mavrik Pro Irons</p>
                <p>Callaway Mavrik Pro Irons Steel Shaft</p>
            </div>
        </div>
    </div>
</div>